.noia0_lu {background-image:url(lu);}
.noia0_ru {background-image:url(ru);}
.noia0_ld {background-image:url(ld);}
.noia0_rd {background-image:url(rd);}

.noia0_lm {background-image:url(lm);}
.noia0_rm {background-image:url(rm);}

.noia0_mu {background-image:url(mu);}
.noia0_md {background-image:url(md);}

.noia0_lm, .noia0_rm {width:16px;}
.noia0_lu, .noia0_ru { height:19px;max-height:19px;}
.noia0_md { height:13px;}

.noia0_u, .noia0_d { line-height:0px; }

.noia0_mm {
	background-image:url('/?/Yks/Imgs/bgs//7eb1da/13');
	background-image:url('mm');
	height:100%;
}

.noia0_mu { 
	background-repeat:repeat-x;
	vertical-align:middle;
}

.noia0_caption {  
	float:right;position:relative;margin-top:-18px;
}

.noia0_rm div {
	position:relative;
	width:16px;
	height:16px;
	float:right;
	display:block;
	margin-right:-5px;
}

.noia0_close { background-image:url(close);  }
.noia0_reload { background-image:url(reload);  }

.noia0_rd div {
	width:8px;
	height:9px;
	margin:auto;
	background-image:url(drag);
}

.noia0_table a {
	color:black;
}
