.wyzzie {
    width:300px;;
    height:300px;
    background-color:white;
}
.rte_container {
    width:100%;
    clear:both;
}
.rte_container textarea, .rte_container iframe {
    border:1px solid black;
    width:100%;
    clear:both;
    background-color:white;
}

.rte_toolbar.topbar {
    width:300px;
    height:30px;
}
.rte_toolbar .rte_button {
    display:block;
    width:24px;
    height:24px;
    margin:2px;
    background-repeat:no-repeat;
    cursor:pointer;
    float:left;
}


.rte_toolbar .big { background-image:url(imgs/big.png); }
.rte_toolbar .bold { background-image:url(imgs/bold.png); }
.rte_toolbar .center { background-image:url(imgs/center.png); }
.rte_toolbar .color { background-image:url(imgs/color.png); }
.rte_toolbar .float_left { background-image:url(imgs/float_left.png); }
.rte_toolbar .float_right { background-image:url(imgs/float_right.png); }
.rte_toolbar .hr { background-image:url(imgs/hr.png); }
.rte_toolbar .hyperlink { background-image:url(imgs/hyperlink.png); }
.rte_toolbar .italic { background-image:url(imgs/italic.png); }
.rte_toolbar .justified { background-image:url(imgs/justified.png); }
.rte_toolbar .left { background-image:url(imgs/left.png); }
.rte_toolbar .picture { background-image:url(imgs/picture.png); }
.rte_toolbar .right { background-image:url(imgs/right.png); }
.rte_toolbar .small { background-image:url(imgs/small.png); }
.rte_toolbar .strike { background-image:url(imgs/strike.png); }
.rte_toolbar .toggle { background-image:url(imgs/toggle.png); }
.rte_toolbar .preview { background-image:url(imgs/preview.png); }
.rte_toolbar .underline { background-image:url(imgs/underline.png); }
