.addr {
    border:1px solid black;
    float:left;
    margin:5px;
    padding:5px;
    width:200px;
}


#access_zones_list tbody {
    display:none;
    overflow:auto;
}
#access_zones_list tbody.on {  display:table-row-group;}
#access_zones_list tbody.on_ie { display:block; }

.user_icon {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
}

.icon_user_infos { background-image:url(path://skin/icons/user.png); }
.icon_user_auth { background-image:url(path://skin/icons/lock.png); }
.icon_user_auth_disabled { background-image:url(path://skin/icons/lock_gray.png); }
.icon_zone_trash, .icon_user_trash { background-image:url(path://skin/icons/delete.png); }
.icon_user_reload { background-image:url(path://skin/icons/reload.png); }
