#mail_manage {
    width:600px;

}
#mails_list {
    width:700px;
}

.mail_part_box textarea {
    width:95%;
    height:200px;
}
.mail_part_box textarea.wyzzie {
    width:95%;
    height:250px;
}
div.part_actions {
    float:right;
}

div.part_actions a {
    display:block;
    width:16px;
    height:16px;
    background-image:url("out.png");
    cursor:pointer;
    margin-right:5px;
}

div.part_actions .collapse {   background-image:url(out.png);}
div.part_actions .trash {   background-image:url(../../icons/trash);}

div.mail_part_box {
    margin-left:10px;
    border:1px solid #cccccc;
    padding:3px;
}
