.dp_container * {
    font-family: Tahoma, Geneva, sans-serif;
    font-size:11px;
    color:black;
}

input.input_time, input.input_date  {
    width:100px;
    cursor:pointer;
}
.dp_container {
    background-color:#CCCCCC;
    position:absolute;
    margin-top:20px;
    height:0px;
    width:165px;
    padding:2px;
    overflow:hidden;
    z-index:90;
}

.dp_cal thead span { display:block;float:right; }
.dp_cal {
    width:100%;
    border-collapse:collapse;
    background-color:white;
}
.dp_cal select { width:auto; float:left; }
.dp_cal th { background-color:#eaeaea; border-bottom:1px solid black;}
.dp_cal td { text-align:center;}
.dp_cal td.day { cursor:pointer;}
.dp_cal td.day:hover{ background-color:#eaeaea; }
.dp_cal td.today { border:1px solid black;}
.dp_cal td.current { background-color:#aeaeae;}

.dp_cal .dp_t { width:20px;text-align:center;font-size:120%;font-weight:bold;}


.dp_nav {
    margin-top:3px;
    width:7px;
    height:10px;
    display:block;
    float:left;
}
.dp_cal .years_sp {
    float:left;
}
.dp_nav.dp_left { background-image:url(datepicker/left.png); }
.dp_nav.dp_right { background-image:url(datepicker/right.png); }
