.shop_icon {
  width:24px;
  height:24px;
  display:inline-block;
  
}
.shop_icon_edit { background-image:url(path://skin/icons/edit_24.png); }
.shop_icon_trash { background-image:url(path://skin/icons/trash_24.png); }
.shop_icon_clone { background-image:url(path://skin/icons/clone_24.png); }


#products_list_tools {
  float:left;
  width:300px;
}
#products_list {
  float:right;
  width:700px;
}

#products_list_contents table {
    width:100%;

}


#product_manage_contents textarea.wyzzie {
    height:200px;
    width:100%;
}

#product_manage_contents {
    width:850px;
}

#product_manage_contents fieldset {
    float:left;
    width:350px;
}
