.dragged { cursor:move; }
.resized { cursor:se-resize; }

*[onclick], .click { cursor:pointer; }

.faded {
    -moz-opacity:0.5;
    filter:Alpha(Opacity=50);
}

.float_left { float:left; }
.float_right { float:right; }
.float_container { overflow:hidden; }
.float_none {float:none;}

.clear {clear:both; }

.clear_right { clear:right; }
.clear_left { clear:left; }

.clear.line {font-size:0px;}
.hidden {display:none; }
.center {margin-left:auto;margin-right:auto;}

.error { background-color:red; color:white;}
.submit { text-align:right;clear:both; }

.valign_center { vertical-align:middle; }
.align_right { text-align:right; }
.align_center { text-align:center; }
.align_left {text-align:left;}
.input_int {width:40px;text-align:right; }
.strike { text-decoration: line-through; }

.fill { width:100%; height:100%; }

.modal_mask {
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

.droppable_ready {
  padding:3px;
  border:2px dashed green;
  clear:both;
  overflow:hidden;
  background-image:url('bgs/drag_drop.png');
  background-repeat:no-repeat;
  background-position:right top;
}
