.dragged { cursor:move; }
.resized { cursor:se-resize; }

*[onclick], .click { cursor:pointer; }
*[title] { cursor:help; }

.faded {
    -moz-opacity:0.5;
    filter:Alpha(Opacity=50);
}

.float_left { float:left; }
.float_right { float:right; }
.float_container { overflow:hidden; }
.float_none {float:none;}

.clear {clear:both; }

.clear_right { clear:right; }
.clear_left { clear:left; }

.clear.line {font-size:0px;}
.hidden {display:none; }
.center {margin-left:auto;margin-right:auto;}

.error { background-color:red; color:white;}
.submit { text-align:right;clear:both; }

.valign_center { vertical-align:middle; }
.align_right { text-align:right; }
.align_center { text-align:center; }
.align_left {text-align:left;}
.input_int {width:40px;text-align:right; }
.strike { text-decoration: line-through; }

.fill { width:100%; height:100%; }

.modal_mask {
	background-color:black;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
}

p.emp { font-weight:bold;}
.table { border:1px solid #aeaeae; }
.table td , .table th {  padding:2px; vertical-align:middle; }

.price, .nb { font-family:monospace; text-align:right; }

.table .id ,.table .ref {text-align:center;}

.line_even, .line_odd, .line_head { height:22px; }
.line_even { background-color:#ffffff; }
.line_odd { background-color:#eaeaea; }


.line_fail { background-color:#aaaaaa;height:22px;font-weight:bold; }
.line_fail td { text-align:center; }
.line_focus { background-color:#c5ffc5; }
.line_head {background-color:#d7d7d7; }
