
p.emp { font-weight:bold;}
.table { border:1px solid #aeaeae; }
.table td , .table th {  padding:2px; vertical-align:middle; }

.price, .nb { font-family:monospace; text-align:right; }

.table .id ,.table .ref {text-align:center;}

.line_even, .line_odd, .line_head { height:22px; }
.line_even { background-color:#ffffff; }
.line_odd { background-color:#eaeaea; }


.line_fail { background-color:#aaaaaa;height:22px;font-weight:bold; }
.line_fail td { text-align:center; }
.line_focus { background-color:#c5ffc5; }
.line_head {background-color:#d7d7d7; }